
@{
    ViewBag.Title = "Produtos";
}

<h2>Produtos</h2>

<div class="card mb-4">
    <div class="card-header row">
        <div class="col-lg-6">
            <i class="fas fa-table mr-1"></i>
            Tabela de Produtos
        </div>
        <div class="col-lg-6 text-right">
<<<<<<< HEAD
            <a href="/Cadastros/NovoProduto">Novo Produto</a>
=======
            <button type="button" class="btn-success" data-toggle="modal" data-target="#ModalNovoProduto">Adicionar</button>
>>>>>>> 57a6fb52d7a939012c73a1e4025aa28c6efdceed
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Imagem</th>
                        <th>Código</th>
                        <th>Descrição</th>
                        <th>Categoria</th>
                        <th>Acessos</th>
                        <th>Preço</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.listaProdutos)
                    {
                        <tr>
                            <td><img src="@item.Imagem" class="img-fluid align-self-sm-end" alt="teste" width="100" height="100" /></td>
                            <td>@item.Codigo</td>
                            <td>@item.Descricao</td>
                            <td>@item.IdCategoria</td>
                            <td>@item.Acessos</td>
                            <td>@item.Preco</td>
                            <td><button>Editar</button></td>
                            <td><button>Excluir</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>